{
  "presets": [
    ["latest", { "modules": false }],
    "react"
  ],
  "plugins": [
    ["babel-plugin-module-alias", [
      { "src": "./semantic", "expose": "semantic" },
      { "src": "./images", "expose": "images" }
    ]]
  ]
}